@import url(var.css);
body{
  font-family: var(--font-family-text);
}
h1,
h2,
h3 {
  font-family: var(--font-family-header);
  color: var(--font-color-description);
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-family: var(--font-family-text);
  color: var(--font-color-description);
  line-height: 1.5rem;
}

.button {
  font-family: var(--font-family-text);
  font-size: 1.3rem;
  font-weight: 500;
  padding: .5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  transition: all .5s;

  &:hover {
    background-color: white;
    color: var(--primary-color);
  }
}
.button.diff{
  background-color: var(--third-color);
  &:hover {
    background-color: white;
    color: var(--third-color);
  }
}

main  {
  padding: 2rem 0 4rem 0;
  
}

section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
 }

 .logo {
  display: flex;
  align-items: center;
  gap: .7rem;
  padding: 1rem;

  img {
    width: 60px;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }


  span {
    font-size: 2.5rem;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    color: var(--font-color-description);
  }

  span.secure {
    color: var(--primary-color);
  }

}
form{
  display: flex;
  flex-direction: column;
}
input{
  font-family: var(--font-family-text);
}
a{
  text-decoration: none;
}
