@import url(var.css);
html,body{
  margin: 0;
  padding: 0;
}
body{
  font-family: var(--font-family-text);
}
h1,
h2,
h3 {
  font-family: var(--font-family-header);
  color: var(--font-color-description);
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-family: var(--font-family-text);
  color: var(--font-color-description);
  line-height: 1.5rem;
}

.button {
  font-family: var(--font-family-text);
  font-size: 1.2rem;
  font-weight: 500;
  padding: .5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  outline: none;
  transition: all .5s;

  &:hover {
    background-color: white;
    color: var(--primary-color);
  }
}
.button.diff{
  background-color: var(--third-color);
  &:hover {
    background-color: white;
    color: var(--third-color);
  }
}

main  {
  padding: 2rem 0 4rem 0;
  
}

section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
 }

 .logo {
  display: flex;
  align-items: center;
  gap: .7rem;
  padding: 1rem;

  img {
    width: 60px;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }


  span {
    font-size: 2.5rem;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    color: var(--font-color-description);
  }

  span.secure {
    color: var(--primary-color);
  }

}
div.main {
  max-width: var(--site-width);
  margin: auto;
}

form{
  display: flex;
  flex-direction: column;
}
input{
  font-family: var(--font-family-text);
}
input[type="submit"]{
  outline: none;
  border: none;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea{
  border: none; 
  outline: none;
  display: block;
  font-size: 1rem;
  border: 1.5px solid rgb(202, 202, 202);

  &:focus {
    outline: 2px solid var(--primary-color);
  }
}
a{
  text-decoration: none;
}

.custom input {
  display: none;
}

.custom .checkmark {
  width: 18px; 
  height: 18px;
  border-radius: 3px; 
  margin-right: 10px;
  position: relative;
  background-color: rgb(207, 207, 207);
  transition: .3s;
}

.custom input:checked + .checkmark {
  background-color: var(--primary-color); 
}

.custom input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 6px; 
  top: 1px; 
  width: 6px; 
  height: 12px; 
  border: solid white; 
  border-width: 0 1px 1px 0;
  transform: rotate(45deg); 
}
