<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/cta.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <section id="cta">
        <div class="bdrop"></div>
        <div class="content">
            <h1>Manage Your Movie Collection with Ease</h1>
            <p>Join a vibrant community of flm enthusiasts! Efortlessly track your favorite movies
                explore new titles, and curate a personalized library. Dive deep into each
                flm's details and ensure your collection is always up-to-date.</p>
            <a href="/signIn.html" class="button">Get started</a>
        </div>
    </section>
    </div>
    <main>
        <div class="main">
            <section id="features">
                <h2>Reasons to Join Us</h2>
                <div class="container">
                    <div class="box">
                        <img src="/images/tracking.png" alt="">
                        <h3>Comprehensive Movie Tracking</h3>
                        <p>Keep a detailed record of your movie collection,
                            including titles, genres, directors, and personal ratings</p>
                    </div>
                    <div class="box">
                        <img src="/images/feature.png" alt="">
                        <h3>Exclusive Features</h3>
                        <p>Gain access to exclusive features like
                            recommendations based on your collection</p>
                    </div>
                    <div class="box">
                        <img src="/images/user.png" alt="" class="large">
                        <h3>User-Friendly Interface</h3>
                        <p>Enjoy a clean and intuitive interface designed for
                            ease of use, we made sure that it matchs your expectatives</p>
                    </div>
                    <div class="box">
                        <img src="/images/verified.png" alt="" class="large">
                        <h3>Secure and Private</h3>
                        <p>Your information is safe with us. We prioritize user
                            privacy and data security,
                        </p>
                    </div>
                </div>
            </section>
            <section id="movie-slider">
                <h2>Recently added</h2>
                <div class="slider">
                    <div class="slides">
                        <div class="slide">
                            <div class="imagen">
                                <img src="/images/dune.jpg" alt="dune-movie-imagen">
                                <div class="backdrop"></div>
                            </div>
                            <div class="info">
                                <div class="titl-yr">
                                    <h3>Dune Parte 2</h3>
                                    <span>-</span>
                                    <span>2024</span>
                                </div>
                                <a href="#" class="button diff">See more</a>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="imagen">
                                <img src="/images//top-gun.jpg" alt="topgun-movie-imagen">
                                <div class="backdrop"></div>
                            </div>
                            <div class="info">
                                <div class="titl-yr">
                                    <h3>Top Gun</h3>
                                    <span>-</span>
                                    <span>2022</span>
                                </div>
                                <a href="#" class="button">See more</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="imagen">
                                <img src="/images/oppenhaimer.jpeg" alt="oppenhaimer-movie-imagen">
                                <div class="backdrop"></div>
                            </div>
                            <div class="info">
                                <div class="titl-yr">
                                    <h3>Oppenheimer</h3>
                                    <span>-</span>
                                    <span>2023</span>
                                </div>
                                <a href="#" class="button diff">See more</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="imagen">
                                <img src="/images/interstellar.jpg" alt="interstellar">
                                <div class="backdrop"></div>
                            </div>
                            <div class="info">
                                <div class="titl-yr">
                                    <h3>Interstellar</h3>
                                    <span>-</span>
                                    <span>2014</span>
                                </div>
                                <a href="#" class="button">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="reviews">
                <h2>Our Customer's Reviews</h2>
                <div class="content">
                    <div class="review">
                        <div class="info">
                            <div class="reviwer">
                                <img src="/images/reviews/juan.jpg" alt="">
                                <h3>Juan</h3>
                            </div>
                            <img src="/images/reviews/star.png" alt="" class="stars">
                        </div>
                        <p class="review">"La aplicación es excelente para organizar mi colección de películas. Me gusta
                            lo
                            intuitiva que es y la facilidad para añadir nuevas películas y mantener todo en orden. Sin
                            embargo, me gustaría que tuviera algunas funciones avanzadas, como recomendaciones basadas
                            en mi
                            colección o integración con plataformas de streaming. Aparte de eso, ¡es una gran
                            herramienta
                            para cualquier amante del cine"</p>
                    </div>

                    <div class="review">
                        <div class="info">
                            <div class="reviwer">
                                <img src="/images/reviews/eva.jpg" alt="">
                                <h3>Eva</h3>
                            </div>
                            <img src="/images/reviews/star (1).png" alt="" class="stars">
                        </div>
                        <p class="review">"¡Esta aplicación es justo lo que necesitaba! Me permite tener mi colección de
                            películas organizada y acceder a ella en cualquier momento. La interfaz es limpia y fácil de
                            usar, y el sistema de búsqueda funciona de maravilla. Además, me encanta que pueda
                            personalizar
                            detalles de cada película. ¡Perfecta para coleccionistas y cinéfilos!"</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="/javascripts/front.js"></script>
</body>


</html>