<div class="img-contact">
    <img src="/images/icons/chat.png" alt="contact" id="contact-us">
</div>
<dialog>
    <img src="/images/icons/close.png" id="close-dialog" alt="close">
    <h3>Contact us!</h3>
    <p>Have any questions or suggestions on how we can improve our page? We’d love to hear from you! Get in touch
        with our team, and we’ll get back to you in no time.
        Your feedback is invaluable, and we're here to help with anything you need!</p>
    <form>
        <input type="text" placeholder="Name" name="name" required>
        <input type="email" placeholder="Email" name="email" required>
        <textarea name="message" cols="30" rows="5" placeholder="Message..." required></textarea>
        <button type="button" class="button" id="submit-form">Send</button>
    </form>
</dialog>